.root {
  -fx-font-size: 10pt;
  -fx-font-family: "Arial Black";
  -fx-base: #eef;
  -fx-background-color: #eee;
}
.color-picker {
  -fx-pref-height: 32.5;
}
.vbox {
  -fx-border-color: #000;
  -fx-font-size: 10pt;
}
.turtlewindow {
  -fx-border-color: #000;
  -fx-background-color: #add8e6;
}
.combo-box {
  -fx-pref-height: 32.5;
  -fx-pref-width: 180;
  -fx-font-size: 10;
}
.text-area {
  -fx-pref-height: 100;
  -fx-pref-width: 410;
  -fx-font-family: "Comic Sans MS";
}
.scroll-pane {
  -fx-pref-width: 512;
  -fx-pref-height: 980;
  -fx-font-family: "Comic Sans MS";
  -fx-font-size: 20;
}
.button {
  -fx-font-size: 9.5;
  -fx-text-fill: #000;
  -fx-background-color: #eef;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 10;
  -fx-pref-width: 100;
  -fx-border-color: #000
}
.turtleswitch {
  -fx-pref-height: 32.5;
  -fx-pref-width: 190;
  -fx-font-size: 9.5;
  -fx-text-fill: #000;
  -fx-background-color: #eef;
  -fx-border-radius: 7;
  -fx-background-radius: 7;
  -fx-padding: 7;
}
.tabtext {
  -fx-font-family: "Arial";
  -fx-font-size: 9.5;
  -fx-stroke: #0000ff;
}
.tabbox {
  -fx-spacing: 50;
}
.colorbutton {
  -fx-pref-height: 32.5;
  -fx-pref-width: 160;
  -fx-font-size: 9.5;
  -fx-text-fill: #000;
  -fx-background-color: #eef;
  -fx-border-radius: 7;
  -fx-background-radius: 7;
  -fx-padding: 7;
}
.button:hover {
  -fx-background-color: #aaa;
}
.label {
  -fx-font-size: 12;
}




